.myWorks {
  max-width: 100%;
  width: 100%;
  min-height: calc(100vh - 20px);
  padding-top: 20px;
  background: #2A2D34;
}
.myWorks h2 {
  margin-bottom: 4rem;
  font-size: 42px;
}
.myWorks h2 span {
  color: rgb(48, 197, 255);
}
.myWorks .projects {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.myWorks .projects .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 30rem;
  background: #1f242d;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  border: 2px solid transparent;
  max-width: 20%;
  min-width: 300px;
  height: 600px;
  transition: 0.3s;
}
.myWorks .projects .card:hover {
  border: 2px solid rgb(48, 197, 255);
}
.myWorks .projects .card img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}
.myWorks .projects .card .flexDescr {
  display: flex;
  flex-direction: column;
  height: inherit;
}
.myWorks .projects .card .flexDescr h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 10px 0;
}
.myWorks .projects .card .flexDescr p {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  margin: 0;
  color: grey;
}
.myWorks .projects .card .flexDescr .btn {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}
.myWorks .projects .card .flexDescr .btn .git {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(48, 197, 255);
  border-radius: 50%;
  color: rgb(48, 197, 255);
  text-decoration: none;
  transition: 0.5s;
}
.myWorks .projects .card .flexDescr .btn .git:hover {
  background: rgb(48, 197, 255);
  color: #2A2D34;
  box-shadow: 0 0 20px rgb(48, 197, 255);
}
.myWorks .projects .card .flexDescr .btn .whatch {
  display: inline-block;
  padding: 12px 28px;
  width: -moz-max-content;
  width: max-content;
  background: rgb(48, 197, 255);
  border-radius: 40px;
  box-shadow: 0 0 0;
  font-size: 16px;
  color: #2A2D34;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
.myWorks .projects .card .flexDescr .btn .whatch:hover {
  box-shadow: 0 0 10px rgb(48, 197, 255);
}

@media screen and (max-width: 790px) {
  .myWorks .projects {
    width: 100%;
    flex-direction: column;
  }
  .myWorks .projects .card {
    flex-direction: row;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 80%;
    padding: 20px;
    flex: 1 1 1rem;
  }
  .myWorks .projects .card:hover {
    border: 2px solid rgb(48, 197, 255);
  }
  .myWorks .projects .card img {
    width: 250px;
    height: 250px;
  }
  .myWorks .projects .card .flexDescr {
    justify-content: space-between;
    margin-left: 20px;
    height: 250px;
  }
  .myWorks .projects .card .flexDescr h1 {
    margin-top: 0;
  }
  .myWorks .projects .card .flexDescr p {
    width: 100%;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media screen and (max-width: 650px) {
  .myWorks .projects .card {
    flex-direction: column;
    max-width: 60%;
    height: -moz-fit-content;
    height: fit-content;
    height: fit-content;
  }
  .myWorks .projects .card img {
    width: 290px;
    height: 290px;
  }
  .myWorks .projects .card .flexDescr {
    margin: 0;
  }
  .myWorks .projects .card .flexDescr h1 {
    margin: 20px 0;
  }
  .myWorks .projects .card .flexDescr p {
    -webkit-line-clamp: 5;
  }
  .myWorks .projects .card .flexDescr .btn {
    margin-top: 20px;
  }
}
@media screen and (max-width: 550px) {
  .myWorks .projects .card {
    min-width: 80%;
    max-width: 80%;
  }
  .myWorks .projects .card img {
    width: 100%;
  }
  .myWorks .projects .card .flexDescr {
    height: -webkit-fill-available;
    width: 100%;
  }
}/*# sourceMappingURL=MyWorks.module.css.map */