$background-color: #1f242d;
$second-background: #2A2D34;
$second-color: rgba(48, 197, 255, 1);

.myWorks{
    width: 100%;
    height: calc(100vh - 20px);
    padding-top: 20px;
    background: $second-background;

    h2{
        margin-bottom: 4rem;
        font-size: 42px;
        span{
            color: $second-color;
        }
    }

    .projects{
        width: 80%;
        height: 500px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 1 30rem;
            background: $background-color;
            padding: 3rem 2rem 4rem;
            border-radius: 2rem;
            border: 2px solid transparent;
            max-width: 20%;
            height: 600px;
            transition: .3s;

            &:hover{
                border: 2px solid $second-color;
            }

            img{
                width: 100%;
                height: 300px;
                border-radius: 2rem;
                border: 1px solid grey;
            }

            h1{
                font-size: 32px;
                font-weight: 700;
                margin: 20px 0;
            }

            p{
                display: inline-block;
                width: 100%;
                font-size: 25px;
                margin: 0;
            }

            .btn{
                margin-top: auto;
                display: flex;
                justify-content: space-between;
                align-items: end;
                width: 100%;

                .git{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background: transparent;
                    border: 2px solid $second-color;
                    border-radius: 50%;
                    color: $second-color;
                    text-decoration: none;
                    transition: .5s;

                    &:hover{
                        background: $second-color;
                        color: $second-background;
                        box-shadow: 0 0 20px $second-color;
                    }
                }

               .whatch{
                display: inline-block;
                padding: 12px 28px;
                width: max-content;
                background: $second-color;
                border-radius: 40px;
                box-shadow: 0 0 0;
                font-size: 16px;
                color: $second-background;
                letter-spacing: 1px;
                text-decoration: none;
                font-weight: 600;
                transition: .3s;

                    &:hover{
                        box-shadow: 0 0 10px $second-color;
                    }
                } 
            }

            
        }
    }
}